[user]
	email = dbesen@gmail.com
	name = David Besen
[color]
	ui = true
[difftool "sdiff"]
	cmd = "sdiff -l -d  "
[difftool]
	prompt = false
[alias]
	vimdiff = difftool -t vimdiff
	sdiff = difftool -t sdiff
	really-clean = clean -X -d -f -f
	would-clean = clean -X -d -n
	up = pull --rebase --autostash
	branch-owners = "!f() { git for-each-ref refs/remotes/ --format='%(refname) %09 %(authorname) %09 %(committerdate)'; }; f | column -t -s'\t'"
[branch]
	autosetuprebase = always
	sort = -committerdate
[log]
	date = local
[core]
	sparsecheckout = false
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[rerere]
	enabled = true
	autoupdate = true
[merge]
	conflictstyle = zdiff3
[git-up "fetch"]
	all = true
[git-up "bundler"]
	check = false
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[http]
	sslVerify = false
[status]
	showuntrackedfiles = all
[pretty]
	oneline-s = %C(yellow)%h%Creset %<(20,trunc)%an %C(blue)%cs%Creset %s
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[grep]
	patternType = perl
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[column]
	ui = auto
[fetch]
	prune = true
	pruneTags = true
	all = true
